<!-- Top Navbar -->
<div class="sticky top-0 w-full bg-zinc-950 px-5">
  <div class="max-w-5xl mx-auto flex justify-between items-center py-2">
    <div class="flex items-center">
      <div class="h-12 w-14 sm:h-18 sm:w-20 mx-auto">
        <img
          class="rounded-[50%] h-12 w-14 sm:h-16 sm:w-20"
          src="/images/vaultvoice_home_logo.png"
          alt="logo"
        />
      </div>
      <div class="h-10 w-30 sm:h-14 sm:w-44 mx-auto">
        <img
          class="h-10 w-30 rounded-[50%] sm:h-14 sm:w-44"
          src="/images/vaultvoice_home_text.png"
          alt="logo"
        />
      </div>
    </div>

    <!-- for desktop -->
    <div class="hidden sm:flex gap-5">
      <a class="transition px-1 hover:text-orange-500" href="/home">Home</a>

      <a class="transition px-1 hover:text-orange-500" href="/blogs"> Blogs </a>
      <a class="transition px-1 hover:text-orange-500" href="/setting"
        >Settings</a
      >
    </div>

    <!-- button to toggle menu -->
    <button class="sm:hidden flex transform" id="menuButton">
      <svg class="h-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <!--!Font Awesome Free v7.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.-->
        <path
          d="M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z"
          fill="white"
        />
      </svg>
    </button>
  </div>
</div>

<!-- for mobile / small screens -->
<div
  class="w-full max-h-0 overflow-hidden opacity-0 transition-all duration-300 ease-out"
  id="mobileMenu"
>
  <div class="flex flex-col gap-2 p-3 bg-zinc-950">
    <a href="/home">Home</a>
    <a href="/blogs">Blogs</a>
    <a href="/setting">Setting</a>
  </div>
</div>
<script>
  const menuBtn = document.querySelector("#menuButton");
  const mobileMenu = document.querySelector("#mobileMenu");

  menuBtn.addEventListener("click", () => {
    mobileMenu.classList.toggle("max-h-28");
    mobileMenu.classList.toggle("opacity-100");
    menuBtn.classList.toggle("rotate-90");
  });
</script>
