<!-- Top Navbar -->
<div class="sticky top-0 w-full bg-zinc-800 shadow-md mb-6">
  <div class="max-w-5xl mx-auto flex justify-between items-center p-4">
    <h1 class="text-xl font-semibold tracking-wide">SecureBlog</h1>
    <div class="flex gap-5">
      <a class="transition px-1 hover:text-orange-500" href="/profile"
        >Profile</a
      >
      <a class="transition px-1 hover:text-orange-500" href="/home">Home</a>
      <a class="transition px-1 hover:text-orange-500" href="/blogs"> Blogs </a>
      <a
        class="bg-red-500 hover:bg-red-600 transition px-4 py-1 rounded-md text-sm"
        href="/logout"
      >
        Logout
      </a>
    </div>
  </div>
</div>
