<%- include('./partials/header') %>

<%- include('./partials/navbar') %>


  <body class="h-full w-screen bg-zinc-800 text-white">
    <div>
      <form action="/upload" method="post" enctype="multipart/form-data">
        <h2 class="text-3xl my-5 p-3">Upload your profile picture</h2>
        <input class="border rounded py-2 px-1" type="file" name="image" />
        <input
          class="border rounded bg-blue-500 p-2"
          type="submit"
          value="upload"
        />
      </form>
    </div>
  </body>

  <%- include('./partials/footer') %>
</html>
