@import "tailwindcss";

@layer components {
  .form-group {
    @apply grid sm:grid-cols-[1fr_2fr] gap-4 items-center;
  }
  .form-input {
    @apply border-black bg-zinc-900 p-3 outline-none rounded-md focus:ring-2 focus:ring-orange-400 w-72 sm:w-90;
  }
}

#mobileMenu.open {
  max-height: 200px;
  opacity: 1;
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: #18181b; /* zinc-900 */
}

/* Thumb (scroll handle) */
::-webkit-scrollbar-thumb {
  background: #3f3f46; /* zinc-700 */
  border-radius: 9999px;
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background: #424249; /* zinc-600 */
}
